body {
    font-family: "open sans", "sans-serif";
    background-color: rgb(255, 232, 169);
}
#background {
    background-image: linear-gradient(rgba(122, 122, 122, 0.082), rgba(0, 0, 0, 0.041)), url("./images/purple-square-yellow-circle-orange-triangle.jpg");
    background-repeat: no-repeat;
    background-size: 140vh 50vw;
    margin: 100px 0 0 50px;
    /* width: 1000px;
    height: 550px; */
}

#calc-container {
    width: 320px;
    height: 510px;
    margin-left: 350px;
    background-color: rgb(250, 223, 234);
    border-radius: 18px;
}